@page
@model eCO2Tracker.Pages.Rewards.Store.OrgFoodModel
@{
    ViewData["title"] = "Organic Foods";
}

@{
    @if (Model.OrgFoodList.Count == 0)
    {
        <div class="container">
            <div class="d-flex justify-content-center">
                <img class="shop-logo" src="~/assets/organic.png" />
            </div>
            <div class="col-1">
                <a asp-page="/Rewards/Store/Index" class="shop-back-button">BACK</a>
                <div class="d-flex mt-4 align">
                    <img class="wallet-logo" src="~/assets/wallet-filled-money-tool.png" />
                    <p class="p-2 points-counter">@Model.User.PointsCurrent</p>
                </div>
            </div>
            <div class="index-content">
                No items
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="d-flex justify-content-center">
                <img class="shop-logo" src="~/assets/organic.png" />
            </div>
            <div class="col-1">
                <a asp-page="/Rewards/Store/Index" class="shop-back-button">BACK</a>
                <div class="d-flex mt-4 align">
                    <img class="wallet-logo" src="~/assets/wallet-filled-money-tool.png" />
                    <p class="p-2 points-counter">@Model.User.PointsCurrent</p>
                </div>
            </div>
            <div class="grid-container">
                @{
                    @foreach (var item in Model.OrgFoodList)
                    {
                        <div>
                            <div class="image-container">
                                <img class="image" src="@(string.IsNullOrEmpty(item.ImageURL) ? "/assets/shopping-bag.png" : item.ImageURL)" onerror="this.src='uploads/shopping-bag.png'" alt="Product Image">
                            </div>

                            <div class="info-container">
                                <h5 class="product-name">@item.ItemName</h5>
                                <h5 class="product-price">@item.ItemPrice pts</h5>
                                <h5 class="product-quantity">@item.ItemCount LEFT</h5>
                                <form enctype="multipart/form-data" method="post">
                                    <input type="hidden" value="@item.ItemID" asp-for="ItemID" />
                                    <button class="add-to-cart-button" type="submit">+ Buy</button>
                                </form>

                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    }
}

